* {
    font-family: 'Roboto', sans-serif;
}
.header, .footer, .main {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 50px 20px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: end;
}

li {
    flex: auto;
    list-style-type: none;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}